@mixin font-face($font-family, $file-path, $weight: normal, $style: normal, $asset-pipeline: false ) {
    @font-face {
        font-family: $font-family;
		font-weight: $weight;
		font-style: $style;
        src: url('#{$file-path}.woff2');
    }
}
